.Form {
    max-width: 800px;
    padding: 1rem 2rem;
}

.Input {
    border-radius: 0;
    outline: none;
    border: 1px solid #2b2b2b;
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.25rem;
}

.Add {
    max-width: 208px;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border-radius: 15px;
    margin: 0.25px;
    color: #fff;
    background-color: hotpink;
    border: none;
}