.Form {
    max-width: 645px;
    padding: 1rem 2rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.Input {
    border-radius: 0;
    outline: none;
    border: 1px solid #2b2b2b;
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.25rem;
}

.Add {
    max-width: 208px;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border-radius: 15px;
    margin: 0.25rem 0.2rem;
    color: #fff;
    background-color: #4e9eeb;
    border: none;
    cursor: pointer;
}

:global(.error).Input {
    border-color: red !important;
}

:global(.error) .Add {
    opacity: 0.5;
    pointer-events: none !important;
}

@media screen and (max-width: 800px) {
    .Form {
        padding: 1rem 2rem 1rem 1rem;
    }
    .Input {
        width: 100%;
    }
    .Add {
        margin: 1rem 0;
        max-width: none;
    }
}