.Overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
}

:global(.winner) .Overlay {
    background-color: rgba(37, 202, 15, 0.7);
}

:global(.loser) .Overlay {
    background-color: rgba(202, 15, 15, 0.7);
}

.HamsterWrapper :global(img) {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.HamsterWrapper:global(.list-item) {
    margin: 0.5rem 0;
}

.HamsterWrapper:global(.list-item) .Thumb :global(img) {
    height: 60px;
    width: 450px;
}

.Thumb {
    pointer-events: all;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    transition: 0.2s ease;
}

.Thumb:hover {
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}

.Thumb :global(h2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    margin: 0;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-weight: lighter;
}
