.TopNavigation {
    padding: 0 1rem;
    height: 70px;
    z-index: 501;
    position: relative;
}

.TopNavigation :global(a) {
    text-decoration: none;
    padding: 0 1rem;
    margin: 0 0.2rem;
    font-family: Helvetica;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    color: #2b2b2b;
}

.TopNavigation :global(img) {
    width: 45px;
}

.SideMenu {
    width: 100%;
    max-width: 420px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -420px;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    z-index: 998;
}

:global(.active) .SideMenu {
    left: 0;
}

.SideMenu :global(ul) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.SideMenu :global(ul a) {
    color: whitesmoke;
    font-size: 1.6rem;
    margin: 1rem 0;
    font-weight: lighter;
    cursor: pointer;
}

.BurgerButton {
    position: relative;
    top: 1rem;
    left: 1rem;
    z-index: 999;
    background-color: transparent;
    border: none;
    outline: none;
    width: 65px;
    height: 35px;
    cursor: pointer;
}

.line {
    width: 50px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0.25rem 0;
    transition: 0.3s ease;
    position: absolute;
}

.line:nth-of-type(1) {
    top: 0;
}

.line:nth-of-type(2) {
    bottom: 32%;
}

.line:nth-of-type(3) {
    bottom: 0;
}

:global(.active) .line:nth-of-type(1) {
    animation: slideDown 0.4s ease forwards alternate;
}

:global(.active) .line:nth-of-type(2) {
    animation: hide 0.1 ease forwards alternate-reverse;
    animation-delay: 0.2s;
}

:global(.active) .line:nth-of-type(3) {
    animation: slideUp 0.4s ease forwards alternate;
}

@keyframes slideUp {
    0% {
        bottom: 0;
        transform: rotate(0deg);
    }
    50% {
        bottom: 32%;
        transform: rotate(0deg);
    }
    100% {
        bottom: 32%;
        transform: rotate(40deg);
    }
}

@keyframes slideDown {
    0% {
        top: 0;
        transform: rotate(0deg);
    }
    50% {
        top: 32%;
        transform: rotate(0deg);
    }
    100% {
        top: 32%;
        transform: rotate(-40deg);
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}